/* Font: 'Domine' */
/* Color combinations to try
rgb(128, 189, 210)
rgb(232,185,112)
rgb(2, 123, 135)
*/
:root {
  --primary-color: rgb(232, 185, 112);
  --secondary-color: rgb(128, 189, 210);
  --background-color: rgb(255, 222, 147);
  --dark-blue: rgb(2, 123, 135);
  --black: #2b2b2b;
  --font-24: 24px;
  --font-20: 20px;
  --font-16: 16px;
  --font-18: 18px;
  --fweight: 700px;
  --visited: #05676e;
  --active: #489c79;
  --bg-white: white;
  --bg-button: #e0b354;
}

* {
  box-sizing: border-box;
}

/* or us rgb(232, 185, 112) */
.mainv1 {
  background-color: var(--background-color);
}

/*
.container {
  background-color: var(--secondary-color)
} */

.mainv1 {
  font-family: 'Domine', sans-serif;
  font-weight: 400;
  font-size: var(--font-16);
  line-height: 1.6;
  color: black;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
}

h1 {
  font-size: var(--font-20);
  font-weight: var(--fweight);
}

h2 {
  font-size: var(--font-24);
  font-weight: var(--fweight);
}

h3 {
  font-size: var(--font-18);
  font-weight: var(--fweight);
}

a {
  color: var(--dark-blue);
}

a:hover a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: var(--visited);
}

a:active {
 /* selected link */
  color: var(--active);
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--bg-white);
  text-decoration: none;
  color: var(--bg-white);
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover, button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  text-decoration: none;
}

button.button_secondary {
  background-color: var(--dark-blue);
  color: var(--black);
  text-decoration: none
}

header.headerv1 {
  background-color: lightgrey;
}

.navigation-list_item-active {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.profile_portrait {
  float: left;
  width: 250px;
  height: 255px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px
}

.page-header_item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list li {
  list-style-type: none;
  display: inline-block;
  margin-left: 15px
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

/* or use rgb(232, 185, 112) */
.grid-item {
  background-color: var(--background-color);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .contacts-content {
    margin: auto;
    max-width: none;
  }
}

@media all and (min-width:500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .contacts-content {
    margin: auto;
    max-width: none;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid-item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
  .contacts-content {
    margin: auto;
    max-width: none;
  }
}

button,
.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: var(--secondary-color);
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.9s opacity;
}

button,
.button-secondary {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: var(--bg-white);
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.9s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.About-into {
  max-width: 700px;
  margin: 0 auto;
}

.About-list li {
  list-style-type: none;
  display: block;
  margin: 15px;
}

.About-list {
border-bottom: 1px solid var(--black);
}

.About-intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--background-color)
}

.portfolio-background-image {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.california-background {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}

@keyframes color-change {
  from {
    fill: rgb(128, 189, 210);
  }
  to {
    fill: rgb(7 ,32, 70);
  }
}

.california g {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.palm-trees path {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.Experience {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contacts-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
}

.contact-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
}

.contact-table {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  max-width: 100%;
  margin: 0 auto;
  border-left: 1px solid var(--black);
}

.contact-inquire {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
}
